<launch>
  <!-- Static Transform Publisher -->
  <node pkg="tf" type="static_transform_publisher" name="world_to_camera" args="0 0 0 0 0 0 /world /logitech_c615 100" />

  <!-- Launch the ar_track_alvar node with arguments -->
  <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" output="screen"
        args="13 0.08 0.2 /logitech_c615/image_raw /logitech_c615/camera_info /world">
  </node>
</launch>
